/* Global Style */
body {
    color: #92c6ea;
    background-color: #0555a7;
    }

/* Global Style ends */
/* Jumbrotron begins */
.jumbotron-fluid { /*style the background to make it fit nicely*/
    background-image: url("../images/background.jpeg");
        height: 500px !important;
    background-repeat: no-repeat;
    background-size: 100% !important;
    background-position: top center;
}
/* Jumbrotron ends */
/* Main content - Buttons*/

#new-game-button {
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    background-color: #92c6ea;
    position: relative;
    font-size: 22px;
    font-weight: bold;
    color: #5f5f5f;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 6px #5f5f5e;
}

#new-game-button:hover {
    box-shadow: 0 4px #5f5f5e;
    top: 2px;
}
#new-game-button:active {
    box-shadow: 0 0 #5f5f5e;
    top: 6px;
}

#placeholder-section {
    background-color: #0483fb !important;
}

#placeholders {
    letter-spacing: 6px;
    font-size: 40px;
}

