
body {
    color: #92c6ea;
    background-color: #0555a7;
}

.jumbotron-fluid { /*style the background to make it fit nicely*/
    background-image: url("../images/background.jpg");
    height: 500px !important;
    background-repeat: no-repeat;
    background-size: 100% !important;
    
}

.category {
    font-family: 'Bubblegum Sans', cursive !important;
    color: #ffffff;
    font-size: 35px;
}

#new-game-button {
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    background-color: #51adee;
    position: relative;
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 6px #5f5f5e;
}

#new-game-button:hover {
    box-shadow: 0 4px #5f5f5e;
    top: 2px;
}
#new-game-button:active {
    box-shadow: 0 0 #5f5f5e;
    top: 6px;
}

#placeholder-section {
    background-color: #0483fb !important;
}


#placeholders {
    letter-spacing: 6px;
    font-size: 40px;
}

.display-4 {
    font-family: 'Monoton', cursive;
    color: #ffffff;
}
    
.lead {
    font-family: 'Bubblegum Sans', cursive;
    color: #ffffff;

}

h2, h3 {
    font-family: 'Bubblegum Sans', cursive;
    color: #ffffff;
}

/* Media Queries*/

/* If the screen size is 320px wide or more */
@media only screen and (min-width: 320px) {
    .display-4 {
      font-size: 1.5rem;
    }
    .jumbotron-fluid { 
        height: 300px !important;
        background-repeat: repeat-y;
        height: 100vh;
    }
    #new-game-button {
        
        background-color: #51adee;
        position: relative;
        font-size: 15px;
        font-weight: bold;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: 15px;
        border-radius: 13px;
        box-shadow: 0 1px #5f5f5e;
    }
 }